.movement{
    padding-left: 200px;
}
.options{
    padding-left: 100px;
}
.panel-collapse{
    padding-left: 20px;
}
.label{
    position: absolute;
    top:2px;
    left: 70px;
    width: 85px;
}
.btnMovement{
    width: 135px;
}
